<% content_for :page_title do -%>
    <%= "#{@forum.name.capitalize} || Tectura - Desenvolvedores discutindo arquitetura na prática" %> 
<% end -%>

<div class="crumbs">
    <%= link_to I18n.t('txt.forums'), root_path %><span class="arrow">»</span>
    <%= link_to "ASSINE " + image_tag('feed-icon.png', :size => '14x14'), forum_posts_path(@forum, :format => :atom), :id => "feed_icon" %>
</div>

<p class="subtitle">
    <% if @forum.contain_posts? -%>
        <%= I18n.t 'txt.count_topics', :count => @forum.topics.size, :num => number_with_delimiter(@forum.topics.size) %>,
        <%= I18n.t 'txt.count_posts', :count => @forum.posts.size, :num => number_with_delimiter(@forum.posts.size) %>
    <% else -%>
        <%= I18n.t 'txt.count_topics', :count => @forum.topics.size, :num => number_with_delimiter(@forum.topics.size) %>
    <% end -%>
</p>

<% if can_comment? -%>
  <%= link_to I18n.t('txt.new_topic'), new_forum_topic_path(@forum), :class => "btn ntread" %>
<% end -%>

<%= show_all_link %>

<table border="0" cellspacing="0" cellpadding="0" class="wide topics">
    <colgroup span ="6">
        <col span="1" width="5%" valign="middle" />
        <col span="1" />
        <col span="1" width="5%"/>
        <col span="3" width="5%" />
        <col span="1" width="10%" />
    </colgroup>
    <thead>
        <th class="la" colspan="2"><%= I18n.t 'txt.topic', :default => 'Topic' %></th>
        <th><%= I18n.t('txt.score', :default => 'Score') %></th>
        <th><%= I18n.t('txt.posts', :default => 'Posts') %></th>
        <th><%= I18n.t('txt.author', :default => 'Author') %></th>
        <th><%= I18n.t('txt.views', :default => 'Views') %></th>
        <th class="la"><%= I18n.t 'txt.latest_post', :default => 'Latest post' %></th>
    </thead>
    <% for topic in @topics do -%>
        <% if topic.score >= 0 -%>
            <%= render :partial => 'topic', :locals => {:topic => topic} %>
        <% elsif topic.score < 0 -%>
            <%= render :partial => 'bad_topic', :locals => {:topic => topic} %>
        <% end -%>
    <% end -%>
</table>

<%= will_paginate @topics %>

<br class="clear" />
<% if can_comment? %>
    <%= link_to I18n.t('txt.new_topic', :default => 'New topic'), new_forum_topic_path(@forum), :class => "btn ntread" %>
<% end%>
