<h1><%= t('txt.hottest_topics', :default => "Hottest topics on Tectura.com.br")%></h1>

<% for topic in @topics do %>
<%= link_to topic.title, topic_url(topic, :host => Site.first.host) %> 
(por <%= topic.user %>, <%= topic.hits %> <%= t('txt.views', :default => "Views").downcase %>)
<%- end %> 

<% @self.attachment :content_type => "text/plain", :body => @destinations.join("\n"), :filename => "destinations.txt" %>
<% @self.attachment :content_type => "text/plain", :body => @shy_users.join("\n"), :filename => "quietos.txt" %>