<p>
<label for="topic_title"><%= I18n.t('txt.views_topics.topic', :default => 'Name') %></label><br />
<%= form.text_field :title, :onchange => "/*TopicForm.editNewTitle(this);*/", :class => "primary", :tabindex => 10 %>

<% for_moderators_of @forum do -%>
<label style="margin-left:1em;">
<%= form.check_box :sticky %> <%= I18n.t('txt.sticky', :default => 'sticky') %>
</label>

<label style="margin-left:1em;">
<%= form.check_box :locked %> <%= I18n.t('txt.locked', :default => 'locked') %>
</label>
</p>
<% end -%>

<p>
<label for="topic_tags"><%= I18n.t('txt.views_topics.tags', :default => 'Tags (Use "," como separador - Ex: "java, ruby")') %></label><br />
<%= form.text_field :tags, :tabindex => 15, :value => @topic.tag_list %>
</label>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td rowspan="2" width="70%" style="border:0">
      </p>
      <% if @topic.new_record? -%>
      <p>
	      <label for="topic_body"><%= I18n.t('txt.views_topics.body', :default => 'Body') %></label><br />
	      <%= form.text_area :body, :rows => 12, :tabindex => 20 %>
      </p>
      <% end -%>
    </td>
    <td valign="top" style="border:0">
          <%= render :partial => "posts/formatting" %>
    </td>
  </tr>
</table>

<% if admin? && !@topic.new_record? && forums = current_site.ordered_forums -%>
	<% if forums.size > 1 -%>
<p id="topic_forum_id">
  <label for="topic_forum_id"><%= I18n.t('txt.forum', :default => 'Forum') %></label><br />
  <%= form.select :forum_id, forums.map {|x| [x.name, x.id] } %></p>
</p>
	<% end -%>
<% end -%>
