<div class="crumbs">
  <%= link_to I18n.t('txt.forums', :default => 'Forums'), root_path %> <span class="arrow">»</span>
  <%= link_to h(@forum.name), forum_path(@forum) %> <span class="arrow">»</span>
</div>

<h1 id="new_topic"><%= I18n.t 'txt.new_topic', :default => 'New topic' %></h1>
<%if logged_in?%>
  <p class="subtitle"><%= I18n.t 'txt.by_user', :default => 'by {{user}}', :user => current_user.display_name %></p>
<%end%>
<br class="clear" />

<%= error_messages_for :topic %>

<% form_for :topic, :url  => forum_topics_path(@forum) do |f| -%>

<%= render :partial => "form", :object => f %>
      <%unless logged_in?%>
        <div id="quickBox">
        
        <h3><%= I18n.t 'txt.login_or_signup_and_comment', :default => 'Login now' %></h3>                     
             <div id="loginQBox">             
               <%= render :partial => "sessions/form"%>
               <%= submit_tag I18n.t('txt.post_topic_and_login', :default => 'Log in and post topic'), :class => "btn grayBtn" %>
             </div>

             <div id="cadastroQBox">
              <% fields_for :user do |f| %>
                  <%= render :partial => "users/form_new",:locals=>{:f=>f} %>
              <% end %>
        <br class="clear" />
              <%= submit_tag I18n.t('txt.post_topic_and_create_user', :default => 'Create user and post topic'), :class => "btn grayBtn" %>
             </div>
        </div><!-- loginQBox -->
       <%end%>

<br class="clear" />
<div>      
  <%= submit_tag I18n.t('txt.post_topic', :default => 'Post topic'), :class => "btn ntread" if logged_in?%>
</div>
<% end -%>

<% content_for :end_page_js do %>
<script type="text/javascript">
  $('topic_title').focus();
</script>
<% end -%>
