<h3><%= I18n.t 'txt.views_users.basics_title', :default => 'Basics' %></h3>

<% form_for :user, @user, :url => reset_password_confirmation_path() do |f|%>
  <%= f.error_messages %>
<div>
  <%=f.hidden_field :lost_password_secret %>
  <label for="user_password"><%=  I18n.t 'txt.user.password_title', :default => 'Password' %></label><br />
  <p class="entryhelp" style="margin-top:0.5em;"><%=  I18n.t 'txt.views_users.password_field', :default => 'Enter a new password twice to change your password. (must be longer than 5 characters)' %></p>
  <%= f.password_field :password, :size => 16 %>
  <span class="entryhelp">(<%=  I18n.t 'txt.views_users.once', :default => 'once' %>)</span><br />
  <%= f.password_field :password_confirmation, :size => 16 %>
  <span class="entryhelp">(<%=  I18n.t 'txt.views_users.and_again', :default => 'and again' %>)</span>
</div>

<%end%>
