<% content_for :page_title do -%>
  <%= "#{@user.display_name} || Tectura - Desenvolvedores discutindo arquitetura na prática" %> 
<% end -%>

<div id="user_profile">
  <%= avatar_for @user, 80 %>  
  <h2><%=h @user.display_name %></h2>
  <small>
    <%unless @user.website.blank? -%>
      <strong><%= I18n.t 'txt.website', :default => 'Website' %></strong> <%= sanitize link_to(@user.website.gsub("http://",""), "http://" + @user.website.gsub("http://","")) %><br />
    <% end -%>
  <%= I18n.t('txt.user_since', :default => 'User since {{date}}', :date => I18n.l(@user.created_at.to_s(:long).to_date)).capitalize %>
</small>
<hr style="clear:both" />
  <span class="bio"><%= @user.bio_html %></span>
    <p><%= I18n.t 'txt.count_topics', :count => @user.topics.size, :num => number_with_delimiter(@user.topics.size) %></p>
    <p><%= I18n.t 'txt.count_posts', :count => @user.posts.size, :num => number_with_delimiter(@user.posts.size) %></p>
    (<%= I18n.t 'txt.view', :default => 'view' %> <%= I18n.t 'txt.posts', :default => 'posts' %>: <%= link_to I18n.t('txt.all', :default => 'all'), user_posts_path(@user) %> | <%= link_to I18n.t('txt.monitored', :default => 'monitored'), "#" %>)<br />

</div>

<div id="userInfoCnt">

</div>
