<h3><%= I18n.t 'txt.views_posts.formatting_help', :default => 'Formatting Help' %></h3>

<ul class="help">
  <li><%= I18n.t 'txt.views_posts.formatting_bold', :default => '*bold*' %></li>
  <li><%= I18n.t 'txt.views_posts.formatting_italics', :default => '_italics_' %></li>
  <li><%= I18n.t 'txt.views_posts.formatting_blockquote', :default => 'bq. <span>(quotes)</span>' %></li>
  <li>http://www.caelum.com.br</li>
  <li><%= I18n.t 'txt.views_posts.formatting_list', :default => '* or # <span>(lists)</span>' %></li>
  <li>&lt;code name="java"&gt; Bloco de código &lt;/code&gt;
    (<a href="http://coderay.rubychan.de" target="_blank">linguagens suportadas</a>)
  </li>
  <li><a href="http://redcloth.org/" target="_blank">Documentação sobre formatação</a></li>
</ul>
