<h3><%= I18n.t 'txt.views_posts.formatting_help', :default => 'Formatting Help' %></h3>

<ul class="help">
  <li><%= I18n.t 'txt.views_posts.formatting_bold', :default => '*bold*' %></li>
  <li><%= I18n.t 'txt.views_posts.formatting_italics', :default => '_italics_' %></li>
  <li><%= I18n.t 'txt.views_posts.formatting_blockquote', :default => 'bq. <span>(quotes)</span>' %></li>
  <li>"IBM":http://www.ibm.com</li>
  <li><%= I18n.t 'txt.views_posts.formatting_list', :default => '* or # <span>(lists)</span>' %></li>
  <li>
    Bloco de código:
    &lt;code name="java"&gt;public static void main(String []args) {}&lt;/code&gt;<br />
    Aceita <a href="http://coderay.rubychan.de" target="_blank">várias linguagens</a>
  </li>
  <li><a href="http://redcloth.org/" target="_blank">Documentação sobre formatação</a></li>
</ul>
