<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%=h @current_site && current_site.name || I18n.t('txt.beast_title', :default => 'Altered Beast') %><%= " - #{h @page_title}" if @page_title %></title>
  <%= stylesheet_link_tag 'display' %>
  <%= stylesheet_link_tag 'captcha' %>
  <%= javascript_include_tag "prototype", "effects", "lowpro", "application", :cache => "beast" %>
<% unless @feed_icons.blank? -%>
  <% @feed_icons.each do |feed| -%>
  <%= auto_discovery_link_tag :atom, feed[:url], :title => "Subscribe to '#{feed[:title]}'" %>
  <% end -%>
<% end -%>
  <link rel="search" type="application/opensearchdescription+xml" href="http://<%= request.host_with_port %>/open_search.xml" />
</head>
<body>

<div id="headerWarp">
	<div id="header">
  		<ul id="userMenu">
    		<li><%= link_to I18n.t('txt.home', :default => 'Home'), root_path, :rel => 'home' %></li>
    		<li><%= link_to I18n.t('txt.users', :default => 'Users'), users_path %></li>

    		<% if logged_in? -%>
    			<li class="login"><%=  link_to I18n.t('txt.my_topics'), user_posts_path(current_user) %></li>
    			<li class="logout"><%= link_to I18n.t('txt.settings', :default => 'Settings'), settings_path %></li>
    			<li class="logout"><%= link_to I18n.t('txt.logout', :default => 'Logout'), logout_path(:to => CGI.escape(request.request_uri)) %></li>
    		<% else -%>
    			<li><%= link_to I18n.t('txt.signup', :default => 'Signup'), signup_path(:to => CGI.escape(request.request_uri)) %></li>
    			<li><%= link_to I18n.t('txt.login', :default => 'Login'), login_path(:to => CGI.escape(request.request_uri)) %></li>
    		<% end -%>
  		</ul><!-- navigation bar -->

  		<% form_tag posts_path, :method => 'get' do -%>
			<%= text_field_tag :q, (params[:q] || "search"), :size => 15, :id => :search_box,:onclick=>"if (this.value=='search') this.value=''" %>
  		<% end -%>


  		<div id="tecturaMenu">
			<ul>
				<li><%= link_to("##{"agile"}", tag_path("agile")) %></li>
				<li><%= link_to("##{"arquitetura"}", tag_path("arquitetura")) %></li>
		    	<li><%= link_to("##{"java"}", tag_path("java")) %></li>
		    	<li><%= link_to("##{"csharp"}", tag_path("csharp")) %></li>
		    	<li><%= link_to("##{"design"}", tag_path("design")) %></li>
		    	<li><%= link_to("##{"dotnet"}", tag_path("dotnet")) %></li>
		    	<li><%= link_to("##{"rails"}", tag_path("rails")) %></li>
			</ul>	
  		</div><!-- menu-->


 		<% name = (site = @current_site || Site.first) && site.name %>
		<h1 id="logoSite"><%= link_to "<span>#{name || I18n.t('txt.beast_title', :Default => 'Altered Beast')}</span>", root_path, :rel => 'home' %></h1>

	</div><!-- header -->
</div><!-- header warp-->